.calculator h1 {
  font-size: 16px;
  color: #b3aeb5;
}

.calculator {
  text-align: center;
  margin: 0 auto;
  padding-top: 35px;
  width: 400px;
}

.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: #252525;
  color: #fff;
  text-align: right;
  font-size: 35px;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
}

calculator-keys {
  width: 100%;
}

.row {
  display: flex;
}

button {
  height: 80px;
  background-color: gray;
  border: 1px solid black;
  font-size: 32px;
  color: #fff;
  width: 25%;
  outline: none;
}

.all-clear, .zero-btn {
  width: 50%;
}

.operator, .equal-sign {
  background-color: orange;
}

button:hover {
  background-color: darkgray;
}

.operator:hover, .equal-sign:hover {
  background-color: darkorange;
}

.lesson {
  text-align: center;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  font-size: 15px;
  color: #b3aeb5;
}
